<div id="title-container">
    <span routerLink="/home">{{title}}</span>
</div>
<div id="router-container">
    <a routerLink="/cars/all" routerLinkActive="active-route">All Cars</a>
    <a routerLink="/cars/available" routerLinkActive="active-route">Available</a>
    <a routerLink="/cars/unavailable" routerLinkActive="active-route">Unavailable</a>
    <a id="nav-search"routerLink="/search" routerLinkActive="active-route"><span class="fa fa-search"></span></a>
</div>
<router-outlet></router-outlet>