.detail-background{
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    padding: 50px 25px;
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    background: white;
}
.detail-background > *{
    display: flex;
    flex-direction: row;
    padding: 5px;
    flex: 1;
}
.detail-background > * label{
    flex: 1;
    background: #8d9bff;
    padding: 10px 7px;
    min-width: 75px;
    color: white;
}
.detail-background > * input, .detail-background > * select, .detail-background > * button{
    flex: 2;
    padding: 10px 7px;
    border: 2px solid #8d9bff;            
}
.detail-buttons button{
    border: none;
    cursor: pointer;
    color: white;
}
.detail-buttons button:nth-child(1){
    margin-right: 5px;
    background: #ef8e9f;
    border: 2px solid #e01d3f;
}
.detail-buttons button:nth-child(2){
    margin-left: 5px;
    background: #7fd87f;
    border: 2px solid #00b100;
}
.detail-buttons button:nth-child(1):hover{
    background: #e01d3f;
}
.detail-buttons button:nth-child(2):hover{
    background: #00b100;
}