<!-- todo div class="detail-background" *ngIf="selectedCar"-->
<div class="detail-background" *ngIf="selectedCar">
    <div id="detail-title-row">
        <span id="detail-back"class="fa fa-arrow-left" (click)="return()"></span>
        <span id="detail-title">{{editMode === 'edit' ? 'Edit Car': 'Create Car'}}</span>
        <span id="detail-space"></span>
    </div>
    <div id="detail-error">
        <span>{{errorMessage}}</span>
    </div>
    <div id="detail-make">
        <label>
            Make         
        </label>
        <select [(ngModel)]="selectedCar.make">
            <option *ngFor="let make of makes()">{{make}}</option>
        </select>
    </div>
    <div id="detail-model">
        <label>
            Model         
        </label>
        <input [(ngModel)]="selectedCar.model" maxlength="20">
    </div>
    <div id="detail-vin">
        <label>VIN</label> 
        <input [(ngModel)]="selectedCar.vin" maxlength="17">
    </div>
    <div class="detail-is-available">          
        <label>Availability</label> 
        <select id="detail-is-available" [(ngModel)]="selectedCar.isAvailable">  
            <option *ngFor="let option of [true, false]" [ngValue]="option">{{option ? 'Available': 'Unavailable'}}</option>
        </select>
    </div>
    <div id="detail-delete" *ngIf="editMode === 'edit'">
        <label>Delete Car</label> 
        <input #deleteVal placeholder="Enter VIN to Confirm" maxlength="17">
        <button (click)="delete(selectedCar, deleteVal.value)"><span class="fa fa-times"></span></button>
    </div>
    <div class="detail-buttons">
        <button id="Reset" (click)="reset()">Reset</button>
        <button id="Submit" (click)="submit(selectedCar)">Submit</button>
    </div>
</div>