#detail-title-row{
    font-size: 1.2em;
    display: flex;
}
#detail-space{
    flex: 1;
}
#detail-back{
    flex: 1;
    cursor: pointer;
    color: #8d9bff;
}
#detail-title{
    text-transform: uppercase;
    flex: 1;
    display: flex;
    justify-content: center;
}

#detail-error{
    color: red;
    text-transform: uppercase;
    justify-content: center;
}
.detail-background{
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    padding: 20px 20px;
    width: 50%;
    min-width: 320px;
    max-width: 500px;
    background: white;
}
.detail-background > *{
    display: flex;
    flex-direction: row;
    padding: 5px;
    flex: 1;
}
.detail-background > * label{
    background: #8d9bff;
    padding: 10px 7px;
    min-width: 75px;
    color: white;
}
.detail-background > * input, .detail-background > * select, .detail-background > * button{
    flex: 2;
    padding: 10px 7px;
    border: 2px solid #8d9bff;            
}
.detail-buttons button{
    border: none;
    cursor: pointer;
    color: white;
}
.detail-buttons button:nth-child(1){
    margin-right: 5px;
    background: #e01d3f;
    border: 2px solid #e01d3f;
}
.detail-buttons button:nth-child(1):active{
    background: #ef8e9f !important;
}
.detail-buttons button:nth-child(2){
    margin-left: 5px;
    background: #00b100;
    border: 2px solid #00b100;
}
.detail-buttons button:nth-child(2):active{
    background: #7fd87f !important;
}
#detail-delete label{
    background: #ef8e9f;
}
#detail-delete input{
    border: 2px solid #ef8e9f;
}
#detail-delete button{
    flex: none;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    background: #ef8e9f; 
    border: 2px solid #ef8e9f;
    cursor: pointer;
}
#detail-delete button:hover{
    background:  #e01d3f;
    border: 2px solid #e01d3f;
}
#detail-delete button:active{
    background: #ef8e9f !important; 
    border: 2px solid #ef8e9f !important;
}