<div class="cars-list-item">
    <div class="new-car-text">
    </div>
    <div class="new-car-button" [routerLink]="['/car/'+ 'new']">
        <span class="fa fa-plus-square"></span>
    </div>
</div>
<div *ngFor="let car of cars" class="cars-list-item">
    <div class="car-image" >
        <div>
        <img [src]="'../images/' + car.make + '.png'">
        </div>
    </div>
    <div class="car-col">
        <div class="car-vin">
        {{car.vin}}
        </div>
        <div class="car-edit">
        <span [routerLink] = "['/car/', car.id]" class="fa fa-pencil-square-o"></span>
        </div>
        <div class="car-model">
        {{car.make}} {{car.model}}
        </div>
    </div>
    <div class="car-isAvailable">
        <div class="car-available" [ngClass]="styleCheck(true, car.isAvailable)" (click)="toggleAvailable(true, car)">
        Available
        </div>
        <div class="car-unavailable" [ngClass]="styleCheck(false, car.isAvailable)" (click)="toggleAvailable(false, car)">
        Unavailable
        </div>
    </div>
</div>
<div *ngIf="cars && cars.length === 0">
    <h1>No Results...</h1>
</div>