<div class="main-container">
    <div id="wizard-progress">
        <div *ngFor="let step of steps" [ngClass]="setClass(step)" (click)="navigateByStep(step)">
            <span>{{step.name}}</span>
        </div>
    </div>
    <div id="wizard-content-container">
        <div class="wizard-content" *ngIf="currentStep.name === 'make'">
            {{currentStep.name}} content here
        </div>
        <div class="wizard-content" *ngIf="currentStep.name !== 'make'">
            {{currentStep.name}} content here
        </div>
        <div id="wizard-nav">
            <span *ngIf="currentStep.id > 0" class="fa fa-arrow-left fa-2x" (click)="navigate('back')"></span>
            <span id="wizard-arrow-spacer"></span>
            <span *ngIf ="currentStep.id < (steps.length - 1)" class="fa fa-arrow-right fa-2x" (click)="navigate('forward')"></span>
        </div>
    </div>
</div>