<div class="main-container">
    <div id="search-top-row">
        <div id="search-sort">
            <label>Sort By</label>
            <select [(ngModel)] = "currentSort" (ngModelChange) = "sortToggle(false)">
                <option *ngFor="let sort of sortOptions" [ngValue]="sort">{{sort}}</option>
            </select>
            <span (click)="sortToggle(currentSort)" [ngClass]="sortIcon()"></span>
        </div>
        <div id="search-input">
            <input #searchInput placeholder="Search..." (keyup)="search(searchInput.value)">
            <!--todo user selects search criteria-->
        </div>
    </div>
    <div *ngIf="isLoading" id="search-spinner">
        <span class="fa fa-spinner fa-pulse fa-5x"></span>
    </div>
    <div  *ngFor="let car of cars">
        <span id="search-content" *ngIf="!isLoading">
            <div id="search-id">
                <span>{{car.id}}</span>
            </div>
            <div id="search-vin">
                {{car.vin}}
            </div>
            <div id="search-make-model-container">
                <div id="search-make">
                    {{car.make}}
                </div>
                <div id="search-model">
                    {{car.model}}
                </div>
            </div>
            <div id="search-available">
                {{car.isAvailable ? 'Available':'Unavailable'}}
            </div>
            <div id="search-more" [routerLink]="['/car/', car.id]">
                More
            </div>
        </span>
    </div>
</div>