body{
  margin: 0;
  min-width: 360px;
  background: #eff1ff;
  color: grey;
  font-family: 'Roboto Condensed', sans-serif;
}

*::-webkit-scrollbar {
  width: .5em;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
*::-webkit-scrollbar-thumb {
background-color: rgba(128, 128, 128, 0.66);
outline: 1px solid white;
}

button:focus, span:focus, input:focus, select:focus, img:focus{
  outline: 0;
}